*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#title{
    background-color: #121928;
    color: #f3f3f3;
    text-align: center;
    align-items: center;
    padding: 3vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;

}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;  
}
.choice:hover{
    background-color: #121928;
    cursor: pointer;
}
.choice img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2.5rem;
    margin-top: 4rem;
}
#User-score,#Comp-score{
    font-size: 4rem;
    margin-left: 12px;
}

#msg-contain{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
#msg{
    background-color: #121928;
    font-size: 2rem;
    color: #f3f3f3;
    text-align: center;
    display: inline;
    padding: 10px;
    border-radius: 10px;
    

}

